@import "../../scss/index.scss";

.main-content{
  margin-left: 100px;
  header{
    display: flex;
    justify-content: space-between;
    background-color: $background-color;
    padding: 20px;
    position: fixed;
    left: 85px;
    width: calc(100% - 85px);
    top: 0;
    z-index: 100;
  }
  .search-wrapper{
    background-color: white;
    display: flex;
    align-items: center;
    height: 45px;
    width: 300px;
    border-radius: 10px;
    overflow-x: hidden;
    padding: 10px;
    margin-left: 15px;

    img{
      display: inline-block;
      width: 20px;
    }

    input{
      height: 100%;
      width: 100%;
      padding: 10px;
      border: none;
      font-size: 14px;
    }

    input:focus{
      outline: none;
    }
    
  }
  .user-wrapper{
    display: flex;
    align-items: center;
    height: 45px;
    padding: 10px;

    .bell-wrapper{
      height: 30px;
      width: 30px;
      text-align: center;
      margin-right: 25px;

      img{
        width: 20px;
      }

    }

    .user-main{
      background-color: white;
      border-radius: 50%;
      height: 45px;
      width: 45px;
      text-align: center;
      overflow: hidden;

      img{
        width: 100%;
      }
    }

    .btn-modal-profile{
      color: transparent;
      background-color: transparent !important;
      border-color: transparent !important;
      padding: 0px;
      border-radius: 50px;
    }

    .btn-modal-profile:focus,
    .btn-modal-profile:active{
      border-style: outset;
      box-shadow: none !important;
      outline: none !important;
    }
  }

  main{
    margin-top: 85px;
    padding: 30px;
    min-height: calc(100% - 85px);
  }
}

.name-user{
  display: block;
  color: #225DA9;
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
}

.rol-user{
  display: block;
  color: #225DA9;
  font-size: 14px;
  margin-top: -2px;
}

.modal-content{
  border: none !important;
  border-radius: 20px !important;
}

.form-label-profile{
  float: left;
  font-size: 16px;
  font-weight: bold;
  color: #225DA9;
  margin-bottom: 5px;
}

.form-control-profile{
  height: 60px;
  border-radius: 10px;
  border: 2px solid #225DA9;
  padding: 20px;
  color: gray;
  background-color: purple;
}

.btn-close-sesion{
  float: right;
  margin-top: 30px;
  margin-bottom: 10px;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  background: -prefix-linear-gradient(left, $colorLeft, $colorRigth);
  background: linear-gradient(to right, $colorLeft, $colorRigth);
}