.title-template{
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #225DA9;
  margin-bottom: 10px;
}

.btn-template{
  cursor: pointer;
  display: block;
  text-align: center;
  background-color: white;
  border: 2px solid #225DA9;
  border-radius: 15px;
  color: black;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  margin-bottom: 20px;
  text-decoration: none !important;
  height: 50px;
  width: 100%;
}
.btn-template:hover{
  background: -prefix-linear-gradient(left, #0060A6, #28A6DF);
  background: linear-gradient(to right, #0060A6, #28A6DF);
  color: #fff;
}
.mb-10{
  margin-bottom: 30px;
}



.form-indi{
  label{
    color: #5F626A;
    cursor: pointer;
    width: 100%;
    height: 170px;
    position: relative;
    display: block;
    border-radius: 15px;
    overflow: hidden;
    transition: background ease .5s;
    pointer-events: none;
  }
  input{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 170px;
    cursor: pointer;
    right: 0px;
  }
}

.closed{
  border: 2px solid #225DA9;
  background-color: #c5deff;
}

.open{
  border: 2px dashed #225DA9;
}

.wrap-load{
  color: #e0e6f5;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  margin-left: -90px;
  height: 80px;
  margin-top: -40px;
  padding: 10px;
  text-align: center;

  img{
    margin-bottom: 5px;
  }
  
  span{
    display: block;
    font-size: 16px;
    color: black;
    font-weight: 600;
  }
}
.info-file{
  background-color: #F2F5FA;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;

  p{
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.btn-carga{
  padding: 15px;
  border-radius: 15px;
  width: 100%;
  height: 55px;
  text-align: center;
  background: -prefix-linear-gradient(left, #0060A6, #28A6DF);
  background: linear-gradient(to right, #0060A6, #28A6DF);
  color: white;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  font-weight: 600;
}